body {
  background-color: #ffebc2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#previous, #next {
  width: 250px;
  height: 150px;
  margin: 10px;
  position: relative;
  opacity: 0;
  text-align: center;

  span, canvas, textarea {
    width: 100%;
    height: 100%;
    font-size: 2em;
    background-color: white;
    border: 1px solid black;
    display: none;
  }

  #initial {
    border: none;
    background: none;
  }
}

#instructions {
  font-size: 2em;
}
